/* src/styles/MainPage.css */
@font-face {
  font-family: 'MyFont';
  src: url('./public/Fontspring-DEMO-theseasons-reg.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #fffdf7;
  height: 100%;
  width: 100%;
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* Blocca movimento laterale */
}


.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 40px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'MyFont', sans-serif;
  font-weight: bold;
  font-size: 16px;
  z-index: 5;
}

.center-piece {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo-orbit-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}

.orbiting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 12s linear infinite;
  z-index: 1;
}

.logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bando-button {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'MyFont', sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  color: black;
  z-index: 5;
  display: block;
  position: relative;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: black;
  text-align: center;
}

.footer-center-text {
  max-width: 80vw;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f7d437;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.dot.active {
  opacity: 1;
}

.logo-circle {
  position: relative;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.popup-content {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-family: sans-serif;
  position: relative;
  max-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.popup-content a {
  color: #000;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.bg-left,
.bg-right {
  position:fixed;
  top: 0;
  height: 100%;
  opacity: 0.02;
  z-index: 0;
  pointer-events: none;
}

.bg-left {
  left: 0;
}

.bg-right {
  right: 0;
  transform: scaleX(-1);
}

@media (max-width: 500px) {
  .top-menu {
    gap: 20px;
    font-size: 14px;
  }

  .bando-button {
    margin-top: 40px;
    font-size: 13px;
  }

  .footer-text {
    font-size: 12px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  .bg-left,
  .bg-right {
    opacity: 0.02;
  }
}